/* DEFAULT */
body {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
    color: currentColor;
}
ul,
ol,
menu {
    list-style: none;
    padding: 0;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.container-large {
    width: 1200px;
    margin: 0 auto;
}
.container-fluid {
    width: 100%;
    margin: 0 auto;
}
.blue-button-item {
    background-color: #0061FF;
    color: white;
    display: inline-block;
}

/* HEADER */

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}
.navbar-row {
    display: flex;
    align-items: center;
    font-size: 10px;
    
}
.navbar-col {
    padding: 0 10px;
    line-height: 20px;
}
.logo > img  {
    display: block;
}

/* HERO */

.hero {
    margin: 0 auto;
    background-color: #B4D0E7;
    text-align: left;
    margin-bottom: 50px;
    /* display: flex;
    flex-wrap: wrap; */
}
/* .hero-content {
    display: flex;
    flex-wrap: wrap;
} */

.title-row {
    text-align: left;
    font-size: 30px;
    padding: 30px;
}

.content-row {
    display: flex;
}
.hero-text {
    display: flex;
    flex-direction: column;
    flex-basis: calc((100% / 5) * 2);
}
.text {
    flex-grow: 1;
}
.hero-img {
    flex-basis: calc((100% / 5) * 3);
}
.hero-text-item {
    font-size: 50px;
}
.text * {
    margin-bottom: 30px;
    line-height: 30px;
}
.call-to-btn {
    display: block;
}

/* Subscription */
.card-row {
    display: flex;
    flex-wrap: wrap;
}
.card-col-4 {
    flex-basis: calc((100% /12) * 4);
    padding-right: 15px;
    
}
.card-row :nth-child(3) {
    padding-right: 0;
}
.card {
    height: 100%;

}
.card-ul {
    --icon-space: 1.3em;
}
.card-ul li {
    padding-left: var(--icon-space);
}

.card-ul .folder-li::before {
    content: "\f07b" ;
    font-family: FontAwesome;
    display: inline-block;
    margin-left: calc( var(--icon-space) * -1 );
    width: var(--icon-space);
}
.card-ul .user-li::before {
    content: "\f007" ;
    font-family: FontAwesome;
    display: inline-block;
    margin-left: calc( var(--icon-space) * -1 );
    width: var(--icon-space);
}
.card-ul .share-li::before {
    content: "\f1e0" ;
    font-family: FontAwesome;
    display: inline-block;
    margin-left: calc( var(--icon-space) * -1 );
    width: var(--icon-space);
}

.call-to-action a:last-child {
    text-decoration: underline;
    color: #433AF1;

}
.card-ul .check::before {
    content: "\f00c" ;
    font-family: FontAwesome;
    display: inline-block;
    margin-left: calc( var(--icon-space) * -1 );
    width: var(--icon-space);
    color: #2E78FF;
}
.cards-title {
    margin-bottom: 30px;
}

.cards-radio {
    margin-bottom: 30px;
}

.ca









/* Debug */

.debug header {
    border: 1px solid black;
}

.debug .card-row {
    border: 2px solid red;
    min-height: 100px;
}

.debug .card-col-4 {
    min-height: 100px;
    border: 2px solid green;
}

.debug .card-col-12 {
    min-height: 40px;
    border: 2px solid violet;
}
.debug .card {
    min-height: 100px;
    border: 3px solid black;
}
/* .debug .card-target {
    min-height: 30px;
    border: 3px solid orangered;
}
.debug .card-details {
    border: 2px solid blue;
} */