/* DEFAULT */
body {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}

figure > img {
    display: block;
    width: 100%;
}
a {
    text-decoration: none;
    color: currentColor;
}
ul,
ol,
menu {
    list-style: none;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.container-large {
    max-width: 1200px;
    margin: 0 auto;
}
.container-fluid {
    max-width: 100%;
    margin: 0 auto;
}
.blue-button-item {
    background-color: #0061FF;
    color: white;
    display: inline-block;
}
.col-4 {
    flex-basis: calc((100% /12) * 4);
}
.col-8 {
    flex-basis: calc((100% / 12) * 8);
}
.col-12 { 
    flex-basis: 100%;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-left-40 {
    margin-left: 40px;
}
.margin-top-60 {
    margin-top: 60px;
}

/* HEADER */

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}
.navbar-row {
    display: flex;
    align-items: center;
    font-size: 10px;
    
}
.navbar-col {
    padding: 0 10px;
    line-height: 25px;
}
.logo img  {
    display: block;
}
.navbar-row .logo {
    padding-left: 0;
}


/* HERO */

.hero {
    margin: 0 auto;
    background-color: #B4D0E7;
    text-align: left;
    margin-bottom: 50px;
}

.title-row {
    text-align: left;
    font-size: 50px;
    padding: 30px 0;
    font-weight: bold;
}

.content-row {
    display: flex;
}
.hero-text {
    display: flex;
    flex-direction: column;
    flex-basis: calc((100% / 5) * 2);
}
.text {
    flex-grow: 1;
}
.hero-img {
    flex-basis: calc((100% / 5) * 3);
}
.hero-text-item {
    font-size: 50px;
}
.text * {
    margin-bottom: 30px;
    line-height: 30px;
}
.text .blue-button-item {
    margin-bottom: 0;
}



/* Subscription */

.cards {
    padding: 0 15px;
    margin-bottom: 20px;
    
}

.card {
    height: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
.card-target {
   display: flex;
   padding: 10px 0;
   border-bottom: 1px solid gray;
   justify-content: center;
}
.item-padding-left {
    padding-left: 15px;
}
/* .item-padding-left-top {
    padding-left: 15px;
    padding-top: 20px;
} */
.card-ul {
    --icon-space: 1.3em;
}
.card-ul li {
    padding-left: var(--icon-space);
}
.call-to-action {
    display: flex;
    flex-direction: column;
}
.call-to-btn {
    line-height: 50px;
    margin: 10px 30px;
    text-align: center;
}
.card.gap-15 {
    gap: 15px;
}
.card-detail.bottom {
    margin-bottom: 40px;
}
.card-contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-ul .folder-li::before {
    content: "\f07b" ;
    font-family: FontAwesome;
    display: inline-block;
    margin-left: calc( var(--icon-space) * -1 );
    width: var(--icon-space);
}
.card-ul .user-li::before {
    content: "\f007" ;
    font-family: FontAwesome;
    display: inline-block;
    margin-left: calc( var(--icon-space) * -1 );
    width: var(--icon-space);
}
.card-ul .share-li::before {
    content: "\f1e0" ;
    font-family: FontAwesome;
    display: inline-block;
    margin-left: calc( var(--icon-space) * -1 );
    width: var(--icon-space);
}

.call-to-action a:last-child {
    text-decoration: underline;
    color: #433AF1;

}
.card-ul .check::before {
    content: "\f00c" ;
    font-family: FontAwesome;
    display: inline-block;
    margin-left: calc( var(--icon-space) * -1 );
    width: var(--icon-space);
    color: #2E78FF;
}










/* Debug */

/* .debug header {
    border: 1px solid black;
} */

/* .debug .row {
    border: 2px solid red;
    min-height: 100px;
} */

/* .debug .col-4 {
    min-height: 100px;
    border: 2px solid green;
} */

/* .debug .col-12 {
    min-height: 40px;
    border: 2px solid violet;
} */
/* .debug .card {
    min-height: 100px;
    border: 3px solid black;
} */
/* .debug .card-target {
    min-height: 30px;
    border: 3px solid orangered;
}
.debug .card-details {
    border: 2px solid blue;
} */